@font-face {
    font-family: Gilroy; /* Гарнитура шрифта */
    font-style: normal;
    font-weight: 400;
    src: url(fonts/gilroy-regular.ttf); /* Путь к файлу со шрифтом */
    }

body 
    {   background-color: #ffffff;
        font-family: Gilroy, Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
.a_black  a {
    color: #000;
}

.conteiner {
    position: relative;
    max-width: 1920px;
    min-width: 1295px;
    height: 3352px;
    margin: 10px 10px;
    
}

.header-menu {   
    display: flex;
    margin: 0 auto;
    width: 1295px;
    height: 90px;
    background-color: #fff;  
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #C4C4C4;  
}

.header-menu:first-child{
    border-width: 0px 0px 0px 0px;
}

.header-menu_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #C4C4C4;
    text-align: center;
    font-size: 16px;   
    line-height: 18px;
}


.line_1 {
   width: 260px;
}
.line_2 {
    width: 185px;   
}
.line_3 {
    width: 199px; 
}
.line_3 > a {
    line-height: 20px;
}
.header-menu_info_img_line_3 {
    margin-left: 15px;
}
.line_4 {  
    width: 331px;  
}
.btn_line_4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 270px;
    height: 40px;
    background-color: #00868A;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.header-menu_info_img_line_4 {
    margin-right: 10px;
}
.header-menu_soc_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80px;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #C4C4C4;
}
/* .soc_bar:last-child {
    border-width: 0px 1px 0px 1px;
} */

.first-screen {
    background-color: #4FBFA5 ;
    margin: 0px auto;
    width: 100%;
    height: 700px;
    color: #fff;
}

.first-screen-menu {
    display: flex;
    margin: 0px auto;
    width: 1295px;
    height: 88px;   
}

.main_menu {
    width: 1248px;
    height: 27px;
    margin: 0 auto;
    padding-top: 30px;
}

.main_menu >ul {
    margin: 0px auto;
    padding: 0px;
   
}

.main_menu >ul > li {
    padding-left: 62px;
    text-decoration: none;
    display: inline;
    font-size: 18px;
    line-height: 27px;
}

.main_menu >ul > li:first-child {
    padding-left: 54px;
    text-decoration: none;
    display: inline;
    font-size: 18px;
    line-height: 27px;
}
.btn_zapis {
    width: 214px;
    height: 40px;
    padding: 0px;
    border: none;
    background-color: #fff;
    margin: 24px 10px 0px 95px;
    color: #000;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    
    
}
.first-screen-content {
    display: flex;
    margin: 0px auto;
    width: 1295px;
    height: 532px;
}
.first-screen-content-left {
width: 490px;
height: 532px;
margin-right: 60px;
}

.first-screen-content-left_text{
    width: 416px;
    height: 266px;
    margin: 133px 134px 0px 0px;
}

.first-screen-content-left_btn  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 163px;
    height: 50px;
    background-color: #00868A;
    border: 0px;
    font-size: 18px;
    line-height: 21.19px;
    color: #fff;
}

.h1_first_screen{
    margin: 0px 0px 20px 0px;
    width: 316px;
    height: 72px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;

}
.info_first-screen{
    width: 416px;
    height: 84px;
    font-size: 14px;
    line-height: 21px;
    margin: 0px 0px 40px 0px;
}

.first-screen-content-left_slide_btn {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 22px;
    width: 490px;
    height: 50px;

}

.first-screen-content-right{
    width: 745px;
    height: 532px;
}


.first-screen_main-categories {
    display: flex;
    margin: 0px auto;
    width: 1295px;
    height: 80px;
    border: 0px;
}
.main_cat-1, .main_cat-2, .main_cat-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 21px;
    line-height: 31.5px;
}

.main_cat-1 {
    width: 648px;
    height: 80px; 
    background-color: #00868A;
}
.main_cat-2 {
    width: 324px;
    height: 80px; 
}
.main_cat-3 {
    width: 324px;
    height: 80px;    
    background-color: #00868A;
    
}
.main-content {
    margin: 0px auto;
    width: 1295px;
}
.main-content_top{
    display: flex;
    margin: 80px 0px 80px 0px;
    width: 1295px;
    height: 580px;
}
.main-content_top-inovatons {
    width: 526px;
    height: 580px;
    background-color: #00868A;
}


.info_inovations{
    width: 526px;
    height: 315px;
}
.img_inovations{
    width: 526px;
    height: 230px;
}

.info_inovations_top {
    width: 485px;
    height: 40px;
    margin: 35px 0px 0px 40px;
}
.info_inovations_top > button{
    border: 0px;
    width: 125px;
    height: 40px;
    font-size: 18px;
    font-style: 500;
    line-height: 21px;    
    color: #fff;
    background-color: #4FBFA5;
}

.info_inovations_center {
    width: 485px;
    height: 135;
    margin: 30px 0px 25px 40px;
    font-size: 30px;
    line-height: 150%;
    font-weight: 500;
    color: #fff;
}
.info_inovations_bottom {
    width: 485px;
    height: 85px;
    margin: 0px 0px 0px 40px;
}

.main-content_top-est-krasoti {
    margin: 35px 0px 60px 134px;
    width: 636px;
    height: 485px;
}
.main-content_top-est-krasoti_top_btn {
    justify-content: center;
    align-content: center;
    width: 186px;
    height: 40px;
    font-size: 18px;
    line-height: 21px;
    background-color: #4FBFA5;
    border: 0px;
}

.main-content_top-est-krasoti-conteiner{
    display: flex;
    width: 100%;
    height: 100%;
   
}

.main-content_top-est-krasoti-conteiner > ul{
    position: absolute;
    z-index: 2;
    margin-top: 40px;
    
}

.a_spisok {
    display: flex;
  
    line-height: 42px;
    font-size: 48px;
}

.a_spisok:hover{
    display: flex;
    font-size: 96px;
    line-height: 144px;
}

.li_small {
    display: inline-block;
    margin: 0px 0px 45px 20px;
    width: 144px;
    font-size: 14px;
    line-height: 21px; 
}

.a_spisok:hover .li_small {   
    display: inline-block;
    margin-right: 30px;
    width: 319px;
    font-size: 28px;
    line-height: 42px;
}

.main-content_top-est-krasoti_patent{
    position: relative;
    top: 10px;
    left: 100px;
    width: 568px;
    height: 447px;
}

.main-content_bottom{
    display: flex;
    margin: 0px 0px 100px 0px;
    width: 1295px;
    height: 504px;
    background-color: rgb(42, 159, 165);
}

.main-content_bottom_left {
    width: 526px;
    height: 504px;
    font-size: 18px;
    line-height: 27px;
    background-color: #4FBFA5
}

.main-content_bottom_btn_news {
    width: 526px;
    height: 40px;
    margin: 35px 0px 0px 40px;
}
.main-content_bottom_btn_news > button {
    border: 0px;
    width: 101px;
    height: 40px;
    font-size: 18px;
    font-style: 500;
    line-height: 21px;    
    color: #fff;
    background-color: #00868A;
}

.main-content_ul-news li {
    display: block;
    width: 446px;
    line-height: 27px;
    margin: 35px 40px 35px 40px;

}
.main-content_ul-news li:hover {
    display: block;
    background-color: #00868A;
}

.big:hover {
    display: block;
    background-color: #00868A;
    width: 100%;
    height: 151px;
}

.main-content_bottom_right {
    width: 770px;
    height: 504px;
    font-size: 14px;
    line-height: 21px;
    background-color: #e5f3f3;
}

.main-content_bottom_right_top {
    display: block;
    margin: 35px 60px 25px 60px;
    width: 650px;
    height: 72px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.main-content_bottom_right ul{
    list-style: disc;
    padding: 0px;
    margin: 20px 25px 60px 81px;
    width: 629px;
    font-size: 14px;
    line-height: 21px;
}
.main-content_bottom_right li {
    margin-bottom: 13px;
}

.conteiner_akt-spec-pred {
    width: 100%;
    height: 350px;
    background-color: #e5f3f3;
}
.akt-spec-pred_main-block {
    width: 1295px;
    margin: 0 auto;
    padding-top: 41px;
}


.akt-spec-pred_zag {
    display: flex;
    justify-content: center;
    font-size: 48px;
    line-height: 72px;
}

.akt-spec-pred_conteiner-block {
    display: flex;
    width: 1295px;
    gap: 24px; /* равномерный отступ между блоками */
    margin-top: 60px;
}

.akt-spec-pred_conteiner-block span {
    width: 181px;
    height: 64px;
    font-size: 21px;
    line-height: 31.5px;
    color: #fff;
    margin: 25px 15px 23px 30px
}

.akt-spec-pred_block {
    width: 306px;
    height: 343px;
    background-color: #00868A;
}

.akt-spec-pred_block-button1 {
    width: 306px;
    height: 230px;
    background-image: url(image/content/akt-spec-pred_block1.svg);
}

.akt-spec-pred_block-button1 {
    width: 306px;
    height: 230px;
    background-image: url(image/content/akt-spec-pred_block1.svg);
}

.akt-spec-pred_block-button2 {
    width: 306px;
    height: 230px;
    background-image: url(image/content/akt-spec-pred_block2.svg);
}

.akt-spec-pred_block-button3 {
    width: 306px;
    height: 230px;
    background-image: url(image/content/akt-spec-pred_block3.svg);
}

.akt-spec-pred_block-button4 {
    width: 306px;
    height: 230px;
    background-image: url(image/content/akt-spec-pred_block4.svg);
}
.akt-spec-pred_block-button {
    margin: 31px 128px 159px 30px;
    border: 0px;
    width: 148px;
    height: 40px;
    background-color: #4FBFA5;
    font-size: 18px;
    line-height: 21.19px;
    color: #fff;
}

.akt-spec-pred_block-bottom {
    display: flex;
}

.footer_conteiner {
    display: flex;
    margin: 100px 0px 80px 0px;
    /* margin-top: 100px; */
    width: 1296px;
    height: 392px;
}
.footer_uslugi_conteiner{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 24px;
}
.footer_uslugi {
    width: 306px;
    height: 100%;
}
.footer_uslugi_center {
    padding-left: 20px;
}
.footer_uslugi_right {
    padding-left: 38px;
}


.footer_uslugi_padding {
    padding-left: 15px;
}

.footer_uslugi  span{
font-size: 21px;
font-weight: 700;
line-height: 31.5px;
padding-bottom: 20px;
}

.footer_uslugi li {
    font-size: 14px;
    line-height: 21.5px;
    padding-bottom: 16px;
}
.footer-contakt {
    width: 306px;
    height: 100%;
}
.footer-contakt-phone {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
}

.footer-contakt-phone p {
font-size: 11px;
font-weight: 500;
line-height: 16.5px;
}


.footer-contakt-btn {
    margin-top: 15px;
    width: 164px;
    height: 45px;
    border: 0px;
    background-color: #00868A;
}

.footer-menu {   
    display: flex;
    margin: 0 auto;
    width: 1295px;
    height: 90px;
    background-color: #fff;
    border-width: 1px 1px 0px 1px; 
    border-style: solid;
    border-color: #C4C4C4;
}

.footer-menu_info_line_1 {
    display: flex;
    width: 644px;
    height: 90px;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    
}

/* .footer-menu_info{
    width: 644px;
    height: 90px; */

.footer-copyright {
    width: 300px;
    padding: 0px 70px 0px 24px;
    
}